<ul>
  <% @tasks.each do |task| %>
    <li>
    <input type="checkbox" id="" name="" value="" class="form-check-input">
    <label for="" class="form-check-label"><%= link_to task.title, task_path(task) %></label>
    <%= link_to 'Delete', delete_path(task) , class: 'ps-2', method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
    </li>
  <% end %>
</ul>

<%= link_to '+ Create new task', 'task/new' %>
